include ../includes/style.pug

h1(style="color: #63f2bd") Welcome to the admin panel, #{powerLevel > 0 ? discord.user.username : "random person"}!

if powerLevel == 0
    h2 here's an image of a jerboa
    img(src="https://www.science.org/do/10.1126/science.acx9719/abs/_20211123_on_jerboa.jpg")

if powerLevel >= 1
    p CPU count: #{osu.cpu.count()}
    p RAM used by specky.one: #{prettyBytes(Object.values(process.memoryUsage()).reduce((a,b) => a + b))}
    p Total RAM used: #{prettyBytes(os.totalmem() - os.freemem())}
    p Total RAM: #{prettyBytes(os.totalmem())}
    p Process uptime: #{prettyMs(Date.now() - uptime)}
    p Website uptime: #{prettyMs(Date.now() - app.uptime)}

if powerLevel >= 2
    br

    -
        const commands = [
            "git fetch --all",
            "git reset --hard origin/master",
            "git pull",
            "npm i",
            "pm2 restart specky.one",
        ];
    
    for command in commands
        - const base64command = Buffer.from(command, "utf-8").toString("base64").replace(/\//g, "_");
        a(href=`/api/lvl2/cmd/${base64command}`)= command
        br
        // idea: make a pseudo-cli or something, idk
