include ../includes/style.pug

h1(style="color: #63f2bd") Welcome to the admin panel, #{powerLevel > 0 ? discord.user.username : "random person"}!

if powerLevel == 0
    h2 here's an image of a jerboa
    img(src="https://www.science.org/do/10.1126/science.acx9719/abs/_20211123_on_jerboa.jpg")

if powerLevel >= 1
    p CPU count: #{osu.cpu.count()}
    p RAM used by specky.one: #{prettyBytes(Object.values(process.memoryUsage()).reduce((a,b) => a + b))}
    p Total RAM used: #{prettyBytes(os.totalmem() - os.freemem())}
    p Total RAM: #{prettyBytes(os.totalmem())}
    p Process uptime: #{prettyMs(Date.now() - uptime)}
    p Website uptime: #{prettyMs(Date.now() - app.uptime)}

if powerLevel >= 2
    br

    -
        const commands = [
            "git fetch --all",
            "git reset --hard origin/master",
            "git pull",
            "npm i",
            "pm2 restart specky.one",
        ];

    br

    div.console.center
        div(style="display: flex;")
            select#pre-made-commands(name="suss")
                for command in commands
                    option(value=command)= command
            input#pre-made-button(type="button" value="Run" style="width: 5vw;")
        br
        textarea#input.prompt(placeholder="Input your command here")
        br
        div#output

    style.
        .console {
            width: 95%;
        }
        
        .console * {
            width: 100%;
            font-family: monospace;
            padding: 10px;
            margin: 10px;
        }

        textarea {
            flex: 1;
            border: none;
            outline: none;
            font-size: 1em;
            line-height: 1.5;
            background: #234;
            color: #fff;
        }

        #output {
            background: #123;
            text-align: left;
        }

    script.
        const input = document.querySelector("#input");
        const output = document.querySelector("#output");

        const preMadeOption = document.querySelector("#pre-made-commands");
        const preMadeButton = document.querySelector("#pre-made-button");

        function escapeHTML(string) {
            return string
                .replace(/&/g, "&amp;")
                .replace(/</g, "&lt;")
                .replace(/>/g, "&gt;")
                .replace(/"/g, "&quot;")
                .replace(/'/g, "&#39;")
        }

        function appendOutput(string) {
            output.innerHTML += `${escapeHTML(string)}\n`.replace(/\r?\n/g, "<br>");
        }

        function runCommand(command) {
            appendOutput(`$ ${command}`);

            const base64command = btoa(command).replace(/\//g, "_");
            
            return fetch(`/api/lvl2/cmd/${base64command}`)
            .then(res => res.json())
            .then(res => {
                appendOutput(res.stdout);
                appendOutput(res.stderr);
            })
            .catch(err => {
                appendOutput(`${err}`);
                console.error(err);
            });
        }

        preMadeButton.addEventListener("click", async (event) => {
            runCommand(preMadeOption.value);
        })

        input.addEventListener("keydown", async (event) => {
            if (event.key === "Enter" && !event.shiftKey) {
                event.preventDefault();

                const command = input.value.trim();
                input.value = "";

                runCommand(command);
            }
        })
