footer#footer Your IP: #{req.ip} (≧◡≦) 

script.
    function updateFooter(content) {
        document.getElementById("footer").innerHTML = `Your IP: ${content} (≧◡≦) `;
    }

    (async function() {
        let ipCache = undefined

        const cacheIP = async () => {
            if (!ipCache) ipCache =
                await fetch('https://wtfismyip.com/json')
                .then(res => res.json())
                .then(res => res.YourFuckingIPAddress)
                .catch(() => undefined);
            if (ipCache) updateFooter(ipCache);
            return ipCache
        }

        await cacheIP()

        let popupState = 0 // 0: hidden, 1: activated, 2: shown

        const footer = document.getElementById('footer');
        footer.onclick = async () => {
            let IP = await cacheIP();
            if(!IP) IP = 'Not found'

            navigator.clipboard.writeText(IP);

            if (popupState) return;

            const popup = document.createElement('p');
            popup.setAttribute('id', 'popup');
            popup.innerHTML = `Copied to clipboard: ${IP}`;
            document.body.appendChild(popup);

            popupState = 1;

            const mousemove = e => {
                if (popupState == 1) {
                    popupState = 2;
                    setTimeout(() => {
                        window.removeEventListener('mousemove', mousemove);
                        window.removeEventListener('scroll', mousemove);
                        document.body.removeChild(popup);
                        popupState = 0;
                    }, 2500);
                }

                popup.style.display = 'flex';
                popup.style.left = `${e.clientX - 50 + window.pageXOffset}px`;
                popup.style.top = `${e.clientY - 50 + window.pageYOffset}px`;

                const popupRect = popup.getBoundingClientRect();
                if (popupRect.top < 0) popup.style.top = '0px';
                if (popupRect.left < 0) popup.style.left = '0px';
                if (popupRect.right > window.innerWidth) popup.style.left = `${window.innerWidth - popupRect.width + window.pageXOffset - 15}px`;
                if (popupRect.bottom > window.innerHeight) popup.style.top = `${window.innerHeight - popupRect.height + window.pageYOffset - 15}px`;
            }
            window.addEventListener('mousemove', mousemove);
            window.addEventListener('scroll', mousemove); // seems to not be working
        }
    })();

style.
    #footer {
        position: fixed;
        bottom:0px;
        left: 0px;
        width: 100%;
        height:64px;
        background:#ff00aa;
        text-align: center;
        line-height: 64px;
        font-size: 24px;
        font-weight: bold;
        color: white;
        z-index: 999;
        cursor: pointer;
    }

    #popup {
        position: absolute;
        top: 0;
        left: 0;
        width: fit-content;
        height: fit-content;
        background: #FF00AA50;
        z-index: 9999;
        border-radius: 10px;
        padding: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        font-size: 16px;
        font-family: sans-serif;
        text-decoration: none;
        font-weight: bold;
        text-align: center;
        border: 2px dotted #ffffff;
        overflow: hidden;
        display: none;
        pointer-events: none;
    }
