doctype html

include includes/style.pug

html(lang="en")
    head
        title [#{code || 400}] Error
    body
        h1 #{code || 400} - #{title || "ERROR"}
        p(style="color: red") #{error || "Error"}
        img(src="https://http.cat/#{code || 400}" alt="#{code}")
        a(href="./") How about you go back
    include includes/footer.pug
