doctype html

include includes/style.pug

html(lang="en")
    head
        title [#{code || 400}] Error
    body
        h1 #{code || 400} - #{title || "ERROR"}
        p(style="color: red") #{error || "Error"}
        a(href="/") How about you go back
        br
        img(src=`https://http.cat/${code || 400}` alt=`${code}`)
    include includes/footer.pug
