doctype html

script.
    const wait = (ms) => new Promise(res => setTimeout(res, ms));

-
    const categories = [
        {
            name: "Development Mode",
            description: "Here are some settings for development (be sure to turn this off in production)",
            contents: [
                {
                    name: "Settings",
                    description: "Dev settings",
                    image: "https://macworld.com/wp-content/uploads/2023/01/ventura-settings-1.jpg?quality=50&strip=all",
                    url: "/dev"
                }
            ],
            filter: () => global.DEV_MODE,
        },
        {
            name: "Projects and websites",
            description: "Here are some cool projects and websites made by Specky",
            contents: [
                {
                    name: "Gallery",
                    description: "An art gallery full of art made by Specky",
                    image: "/preview?image=gallery/water.png",
                    url: "/gallery",
                },
                {
                    name: "Media Hosting",
                    description: "Service to host files!",
                    image: "https://cdn-icons-png.flaticon.com/512/5139/5139874.png",
                    url: "/media",
                },
                {
                    name: "Lonely Place",
                    description: "A discontinued r/place clone (revival in the future??? 😳)",
                    image: "lonely/lonely_place.png",
                    url: "/lonely",
                },
                {
                    name: "Summertime",
                    description: 'Kasumi dancing with amogus.',
                    image: "https://i.ytimg.com/vi/xIUKVAtW1Fc/maxresdefault.jpg",
                    url: "/summertime",
                },
                {
                    name: "URL Shortener",
                    description: "A poopy URL shortener",
                    image: "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRUD-UTMb1WN3V-UfUCueYtvucQUuDXs1jvBA&usqp=CAU",
                    url: "/us",
                },
                {
                    name: "SPWN Ideas",
                    description: "Some project ideas for SPWN",
                    image: "https://spu7nix.net/spwn/assets/spwn_logo_large.png",
                    url: "/spwnideas",
                },
                {
                    name: "ANMT video player",
                    description: "A video player for ANMT files",
                    image: "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAbAQMAAAAu4r+jAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAGUExURf///wAAAFXC034AAAAJcEhZcwAADsMAAA7DAcdvqGQAAABVSURBVBjTY8AGPoAIxr8gkvk/Osn+D0Ey/0GQjD+AhARYrxz7H2YGhnr2f/wMDP/P/7dvYPgPBAcYjn////8BA4P7nw6gKvY/DAVo5vxAN5P5DwMDAH04JMNHSB5QAAAAAElFTkSuQmCC",
                    url: "/anmt",
                },
                {
                    name: "Visort",
                    description: "A visualizer for Sorting Algorithms",
                    image: "https://assets-global.website-files.com/606a802fcaa89bc357508cad/6123c034286044167618b263_7.png",
                    url: "/sort",
                },
                {
                    name: "Sugo",
                    description: "Gambling simulator for real gamblers",
                    image: "https://corrierece.it/wp-content/uploads/2022/01/gioco.jpg",
                    url: "/sugo",
                },
                {
                    name: "Blog",
                    description: 'Specky\'s Blog where he posts his ""discoveries""',
                    image: "https://upload.wikimedia.org/wikipedia/commons/4/42/Blog_%281%29.jpg",
                    url: "/blog",
                },
            ],
        },
        {
            name: "Test websites",
            description: "Sites where you can test some features",
            level: 1,
            contents: [
                {
                    name: "Errors",
                    description: "Here you can generate errors",
                    image: "https://thumbs.dreamstime.com/b/flat-line-icon-concept-error-page-file-not-found-cute-cartoon-face-eps-106441536.jpg",
                    url: "/test/error",
                },
                {
                    name: "Popups",
                    description: "Here you can test the popups of this website",
                    image: "https://i.ytimg.com/vi/ujL3r9VNksA/hqdefault.jpg",
                    url: "/test/popup",
                },
            ],
        },
        {
            name: "Admin pages",
            description: "These are the EPIC pages that only Specky can check out",
            level: 2,
            contents: [
                {
                    name: "Admin Panel",
                    description: "A shit website that currently does nothing",
                    image: "https://cdn-icons-png.flaticon.com/512/6489/6489458.png",
                    url: "/admin",
                }
            ],
        },
        {
            name: "Affiliated projects",
            description: "Projects that people close to me made",
            contents: [
                {
                    name: "NicsiRadio",
                    description: "A radio station made by Nicsi, Specky's brother",
                    image: "https://nicsiradio.com/static/uploads/background.1689357242.png",
                    url: "https://nicsiradio.com",
                    extra: "nicsiradio",
                },
            ],
        },
        {
            name: "Social stuff",
            description: "Here you can find ways to stalk Specky",
            contents: [
                {
                    name: "Discord Server",
                    description: "A place to jump into and help out developing or just to chill around.",
                    image: "https://cdn.discordapp.com/icons/538028973058424832/96021aa98c4e6e3f120af4a9985bb88b.png?size=2048",
                    url: "https://discord.gg/4EecFku",
                },
                {
                    name: "GitHub",
                    description: "Specky's GitHub account containing lots of epic projects 😎",
                    image: "https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png",
                    url: "/github",
                },
                {
                    name: "YouTube",
                    description: "Specky's YouTube channel where he uploads videos about anything.",
                    image: "https://www.gstatic.com/youtube/img/branding/youtubelogo/svg/youtubelogo.svg",
                    url: "https://www.youtube.com/c/SpeckyYT",
                },
                {
                    name: "Ko-Fi",
                    description: "Specky's Ko-Fi page for voluntary donations that will keep the servers running!",
                    image: "https://github.githubassets.com/images/modules/site/icons/funding_platforms/ko_fi.svg",
                    url: "https://ko-fi.com/specky",
                },
            ],
        },
    ]
    .map(cat => {
        const category = cat;

        if(typeof category.filter == "function") {
            if(!category.filter()) return null;
        }

        if(typeof category.level == "number") {
            const powerLevel = req.discord.powerLevel();
            if(powerLevel < category.level) return null;
        }
        if(!Array.isArray(category.contents)) return null;

        category.contents = category.contents.filter(cont => {
            if(typeof cont.level == "number") {
                const powerLevel = req.discord.powerLevel();
                if(powerLevel < cont.level) return false;
            }
            return true;
        })

        if(!category.contents.length) return null;

        return category
    })
    .filter(cat => cat);

include includes/embed.pug 
include includes/style.pug
include includes/popup.pug
include includes/konami.pug

html(lang="en")
    +embed

    include includes/ribbon.pug
    body
        img.center(src="assets/speckycart.png")

        a#login(href="/login")
            if req.discord.powerLevel() == 0
                p you can literally login with discord
            else
                p logout (no bitches)
            img(src = "https://assets-global.website-files.com/6257adef93867e50d84d30e2/636e0a6ca814282eca7172c6_icon_clyde_white_RGB.svg")

        // create a grid of squares with images and text
        for category of categories
            h1 #{category.name}
            if category.description
                p #{category.description}
            div.grid
                for content of category.contents
                    if Object.keys(content).length > 0
                        div.grid-vertical
                            if content.image
                                img.flex-image(src=content.image)
                            div
                                if content.name
                                    h2.grid-title #{ content.name }
                                if content.description
                                    p.grid-description #{ content.description }
                                if content.url
                                    a(href=content.url)

                                if content.extra
                                    div.cool-outline
                                        if content.extra == "nicsiradio"
                                            h2 Currently playing
                                            p#nr-song-name insert deez nuts here
                                            img#nr-song-image
                                            script.
                                                const songName = document.getElementById("nr-song-name");
                                                const songImage = document.getElementById("nr-song-image");

                                                async function updateCurrentlyPlaying() {
                                                    const json = await fetch("https://nicsiradio.com/api/nowplaying")
                                                    .then(res => res.json());
                                                    
                                                    const { played_at, duration, song } = json.find(s => s.station.id == 1).now_playing;

                                                    songName.innerHTML = song.text
                                                    songImage.src = song.art

                                                    return new Date((played_at + duration) * 1000)
                                                }

                                                (async function() {
                                                    while(true) {
                                                        try {
                                                            const timeStamp = await updateCurrentlyPlaying()
                                                            const difference = timeStamp - Date.now()
                                                            await wait(Math.max(difference, 1000))
                                                        } catch {
                                                            await wait(10000)
                                                        }
                                                    }
                                                })()

include includes/footer.pug

script.
    setupKonamiCode(
        () => popup("Everyone knows that Specky is cool 😎"),
        0,
        "speckyiscool".split(""),
    )

    setupKonamiCode(
        () => {
            window.scrollTo(0, 0);
            document.getElementsByTagName("body")[0].style["overflow-y"] = "hidden"

            const elements = document.getElementsByClassName("grid-vertical");

            [...elements].reverse().map(async (element, index) => {
                let sin, cos = 0;

                function randomizeDirection() {
                    const angle = 2 * Math.PI * Math.random();
                    sin = Math.sin(angle)
                    cos = Math.cos(angle)
                    if([sin,cos].find(n => Math.abs(n) < 0.2)) randomizeDirection()
                }
                randomizeDirection()

                const start = Date.now()
                const speedMultiplier = Math.random() * 0.6 + 0.4

                const rect = element.getBoundingClientRect();
                element.style.position = "absolute"
                element.style.top = `${rect.top}px`;
                element.style.left = `${rect.left}px`;
                element.style.width = `${rect.width / 2}px`;
                // element.style.height = `${rect.height / 1.5}px`;

                while(true) {
                    const timePassed = (Date.now() - start) / 5000;
                    const speed = 5 * (1 / (1 + Math.exp(-timePassed/1))) * speedMultiplier;

                    const screenWidth = window.innerWidth;
                    const screenHeight = window.innerHeight;
                    const elementWidth = element.offsetWidth + 100;
                    const elementHeight = element.offsetHeight + 100;

                    let left = parseInt(element.style.left);
                    let top = parseInt(element.style.top);

                    if (left > screenWidth) {
                        left = -elementWidth;
                        randomizeDirection()
                    } else if (left < -elementWidth) {
                        left = screenWidth;
                        randomizeDirection()
                    }

                    if (top > screenHeight) {
                        top = -elementHeight;
                        randomizeDirection()
                    } else if (top < -elementHeight) {
                        top = screenHeight;
                        randomizeDirection()
                    }

                    element.style.left = `${left + speed * cos}px`;
                    element.style.top = `${top + speed * sin}px`;

                    await wait(10)
                }
            })
            popup("Welcome to the Fun Zone! Nice!", "info");
        },
        1,
        [..."69"],
    )

    let cheatsEnabled = false;
    setupKonamiCode(
        () => {
            cheatsEnabled = !cheatsEnabled
            popup(`Cheats ${cheatsEnabled ? "enabled" : "disabled"}`, "success");
        },
        0,
    )

    function getHref(gridItem) {
        try {
            return gridItem.getElementsByTagName("a")[0].href
        } catch (err) {
            return null
        }
    }

    for (const gridItem of document.getElementsByClassName("grid-vertical")) {
        // play an animation when hovering over a grid item
        gridItem.addEventListener("mouseenter", () => {
            if (getHref(gridItem)) {
                gridItem.classList.add("hover")
            } else {
                gridItem.classList.add("hover-no-link")
            }
        })
        gridItem.addEventListener("mouseleave", () => {
            if (getHref(gridItem)) {
                gridItem.classList.remove("hover")
            } else {
                gridItem.classList.remove("hover-no-link")
            }
        })

        gridItem.addEventListener("click", () => {
            // if the grid item has a link, open the link in a new tab
            if (getHref(gridItem)) {
                window.open(getHref(gridItem), "_blank")
            }
        })
    }

style.
    body {
        overflow-x: hidden;
    }
    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-gap: 10px;
        margin: 0 auto;
        max-width: 800px;
    }
    .grid-vertical {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-color: rgb(49, 51, 56);
        border: 5px solid #777;
        padding: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .grid-horizontal {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-color: rgb(49, 51, 56);
        border: 5px solid #777;
        padding: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .grid-title {
        font-size: 1.5em;
        font-weight: bold;
        color: #fff;
    }
    .grid-description {
        font-size: 1em;
        color: #fff;
    }
    .flex-image {
        width: 100%;
        height: auto;
        image-rendering: -moz-crisp-edges;
        image-rendering: -webkit-crisp-edges;
        image-rendering: pixelated;
        image-rendering: crisp-edges;
    }
    #nr-song-image {
        width: 20%;
    }

    @keyframes hover {
        0% {
            transform: scale(1);
        }
        50% {
            transform: scale(1.1);
        }
        100% {
            transform: scale(1);
        }
    }
    .hover {
        animation: hover 0.5s ease-in-out;
        cursor: pointer;
    }
    @keyframes hover-no-link {
        0% {
            transform: scale(1);
        }
        50% {
            transform: scale(0.9);
        }
        100% {
            transform: scale(1);
        }
    }
    .hover-no-link {
        animation: hover-no-link 0.5s ease-in-out;
        cursor: not-allowed;
    }
    #login {
        background: black;
        outline: 3px dashed white;
        border-radius: 1vw;
        position: fixed;
        left: 0px;
        top: 0px;
        width: 15vw;
        padding: 5px;
        z-index: 999;
    }
    #login * {
        max-width: 100%;
    }
    .cool-outline {
        border: 10px dashed #FFFFFF;
    }
