include ../includes/style.pug

h1 Movie Critic
p Hello

div.movies
    for movie in movies
        div.movie
            div
                h1= movie.title
                p= movie.speckyone.opinion
                div.percentbar
                    div(style=`width: ${100 * movie.speckyone.rate}%;`)
                        p= `${Math.round(movie.speckyone.rate * 100)}%`
            div
                img(src=movie.poster_path)

style.
    .percentbar {
        width: 100%;
        background: black;
    }
    .percentbar div {
        background: blue;
    }
    .percentbar div p {
        text-align: center;
        color: white;
    }
    .movies {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20vw, 90vw));
        grid-gap: 10px;
        margin: 0 auto;
        max-width: 90vw;
    }
    .movie {
        display: flex;
        flex-direction: row;
        text-align: right;
        justify-content: center;
        background-color: #fff;
        border: 5px solid #777;
        padding: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        color: black;
    }
    .movie * {
        flex: 1;
        flex-basis: 0;
    }
    .movie div {
        max-height: 90vh;
    }
    .movie p {
        position: relative;
        text-align: left;
    }
    .movie img {
        max-width: 50%;
        max-height: 90vh;
    }
